{% extends "base.html" %}

{% block title %}
Music
{% endblock %}

 {% block content %}

<div class="container">
    <div class="row">
        <h1>Music</h1>
    </div>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://youtu.be/JYVMnLUZu9Y"></iframe>
              </div>
              
              <!-- 16:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://youtu.be/JYVMnLUZu9Y"></iframe>
              </div>
        </div>

        <div class="row align-items-start">
            <div class="col">
          <!-- 4:3 aspect ratio -->
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://youtu.be/JYVMnLUZu9Y"></iframe>
                </div>
            </div>
        </div>
          
          <!-- 1:1 aspect ratio -->
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://youtu.be/JYVMnLUZu9Y"></iframe>
          </div>
    </div>
</div>

 {%- endblock %}