<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" type="image/ico" href="static/favicon.ico"/>
    <link rel="icon" type="image/ico" href="static/favicon.ico"/>
    <meta name="robots" content="index,follow">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
            
            <div class="nav-scroller py-1 mb-2 navbar-dark bg-dark">
                <nav class="nav d-flex justify-content-start nav-links">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Roles
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="dropdown-item" href="/music">Musicien</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="/music">Arranger</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="/music">Bandleader</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="/music">VoiceOver</a>
                            </li>

                        </ul>
                    </li>

                </nav>
              </div>
            </div>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>